.shop-filter-container{
    background: linear-gradient(white, #f1f1f1);
    width:100%;
    height: 40vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*box-shadow: 6px 5px 5px rgba(0.1, 0.1, 0.1, 0.1);*/
}

.title-text{
    font-family: Inter, sans-serif;
    color: #6b6262;
}

.forum-submit-btn{
    margin-top: 2%;
    height: 15%;
    width: 25%;
    border: none;
    background-color: rgb(215, 174, 121);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 3px;

    transition: all 0.3s;
}

.forum-submit-btn:hover{
    background-color: #a17e55;
    cursor: pointer;
}

.checkbox-container{
    width: 53%;
    display: flex;
    flex-direction: column;

    border-right:1px solid  #8a8a8a;
}

.filter-section{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    gap: 2%;
    width: 100%;
}