.info-card {
    display: flex;
    border: none;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;

    flex-direction: row;

    grid-row: span 2;
    grid-column: span 4;
}

.Info-photo{
    width: 30%;
    border-radius: 5px;
}

.info-card-opis {
    padding: 5%;
    width: 70%;
    font-family: "Comic Sans MS",sans-serif;
    font-size: 1rem;

    background-color: #eee7d6;
    min-width: 0;

    display: flex;
    flex-direction: column;
}