.login-container{
    padding: 5% 10%;
    margin: 20px auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    border: 1px solid black;

    min-height: 560px;

    grid-column: 4 / 10;
    grid-row: 1 / 8;
}

.login-top{
    padding-bottom: 5%;
}

.login-mid{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type=text]{
    border: none;
    border-radius: 3px;
    background-color: rgb(220,220,220);
    text-align: center;

    width: 400px;
    height: 50px;
}

.login-button{
    border:none;
    background-color: #5588a1;
    border-radius: 3px;

    width: 300px;
    height: 60px;

    font-size: 1.2rem;
    margin-left: 12.5%;

    color: rgb(0, 0, 0);
    font-family: Inter, sans-serif;
    text-align: center;

    transition: background-color 250ms;
}

.login-button:hover{
    background-color: rgb(121, 183, 215);
    cursor: pointer;
}

.remember-checkbox{
    padding: 2%;
}

.register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;

    font-family: Inter, sans-serif;
}

.signup-btn{
    border: none;
    border-radius: 3px;
    background-color: #ecb677;

    height: 50px;
    width: 250px;

    font-size: 1.2rem;

    transition: background-color 250ms;
}

.signup-btn:hover{
    cursor: pointer;
    background-color: #efc7a2;
}

@media (max-width: 768px) {
    .login-container {
        width: 90%; /* Adjust for smaller screens */
        grid-column: 1 / 7; /* Span the full width */
    }
}

@media (max-width: 480px) {
    .login-container {
        width: 95%; /* Further adjust for very small screens */
        margin: 10px auto; /* Simplify margins */
    }
}