.comments-section{
    gap: 10px;
    width: 100%;

    margin-left: 5%;
    margin-right: 5%;
}
.new-comment {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 45px;
    margin-bottom: 5%;
}

.new-comment-input {
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    outline: none;
    width: 20%;

    transition: all 0.3s ;
}

.new-comment-input:focus {
    background-color: #fff;
    border: 1px solid #f5a623;
}

.new-comment-input::placeholder {
    color: #aaa;
    font-family: 'Roboto', sans-serif;
    padding-top: 5%;
    padding-left: 5%;
}

.new-comment-btn {
    padding: 10px 15px;
    background-color: rgb(215, 174, 121);
    border: none;


    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 3px;

    transition: all 0.3s;
}

.new-comment-btn:hover {
    background-color: #a17e55;
    cursor: pointer;
}
.existing-comments {
    width: 100%;
}

.comment {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.comment-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-username {
    font-weight: bold;
}

.comment-text {
    margin-top: 10px;
    font-size: 1.2rem;
}

.comment-date {
    margin-top: 5px;
    font-size: 0.8rem;
    color: gray;
}
