.Footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 200px;
    width: 100%; /* Use 100% instead of 100vw to respect parent width */
    align-items: center;
    background-color: #ffffff;
    margin-top: auto; /* Push footer to the bottom if content is insufficient */
}

.footer-container-left {
    text-align: right;
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    padding-right: 30px;
    padding-top: 20px;
}

.contact-data {
    font-size: 1.2em;
}

.footer-container-right {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 30px;
    font-size: 1.2em;
}

.social-links {
    padding-top: 5px;
    font-size: 2em;
    margin: 5px;
    cursor: pointer;
    letter-spacing: 10px;
}
