.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    height: 65px;
    border: solid white 1px;
    padding-left: 175px;

    position: sticky;
    top: 0;
    z-index: 100;

    width: 100vw;
    left: 0;
}

.nav-button{
    background-color: rgb(255, 255, 255);
    height: 65px;
    border: solid white 1px;
    transition: background-color 250ms;
}

.nav-button:hover{
    background-color: #5e5e5e;
    cursor: pointer;
}

.nav-button-text{
    color: white;
    font-size: 22px;
    font-family: Anta, sans-serif;
}
