.login-top-section{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-top-text{
    height: auto; /* Adjust height dynamically */
    font-size: 2.9rem; /* Responsive font size */
    font-family: Inter, sans-serif;
}

.login-mid-section{
    background-color: rgb(215, 174, 121);
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 5%;
}

.login-btn-div{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: end;
}

.input-text-field{
    border: none;
    border-radius: 3px;
    background-color: white;
    text-align: center;

    width: 50%;
    height: 50px;
}

.login-button{
    border:none;
    background-color: #000000;
    border-radius: 3px;

    width: 40%;
    height: 45px;

    font-size: 1.2rem;
    margin-left: 1%;

    color: white;
    font-family: Inter, sans-serif;
    text-align: center;

    transition: background-color 250ms;
}

.login-button:hover{
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}

.signup-btn{
    border: none;
    border-radius: 3px;
    background-color: #ffffff;
    color: black;

    width: 215px;
    height: 45px;

    font-size: 1.2rem;

    transition: background-color 250ms;
}

.signup-btn:hover{
    cursor: pointer;
    background-color: #000000;
    color: white;
}

.login-core{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}


.remember-checkbox{
    padding: 2%;
}


