.shop-card{
    background-color: white;
    width: 100%;
    grid-row: span 4;
    grid-column: span 3;
    border-radius: 5px;
    padding: 2%;
    margin:2%;

    font-family: Inter,sans-serif;
    display: flex;
    flex-direction: row;
    transition: all 0.3s;
}

.shop-card:hover{
    transform: scale(1.03);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.shop-card-photo{
    width: 65%;
}

.shop-card-info{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;

    background-color: #F6E4D9;
    border-radius: 3px;
}

.shop-card-name{
    text-align: center;
    padding: 5%;
}

.shop-card-btn{
    background-color: #FF9900;
    border-radius: 5px;
    height: 15%;
    width: 80%;
    border:none;

    transition: all 0.3s;
}

.shop-card-btn:hover{
    background-color: #CC7700;
    cursor: pointer;
}

.price-text{
    font-size: 1.5rem;
    color: #ff6000;
}