:root {
  background-color: rgb(209, 233, 238);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Makes sure padding and borders are included in the element's total width and height */
}

html, body {
  height: 100%; /* Ensure body takes the full height */
  width: 100%;  /* Ensure the body takes the full width */
}