.checkoutpage-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: linear-gradient(to bottom right,white 50%,rgb(215, 174, 121) 50%);
}