.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Next arrow */
.swiper-button-next {
    color: #ffffff !important; /* Change to any color you like (e.g., red) */
}

/* Previous arrow */
.swiper-button-prev {
    color: #ffffff !important; /* Change to any color you like */
}